body {
    margin: 0;
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to left, rgb(27 20 41), rgd(20 15 35));
}